@font-face {
    font-family: 'Open Sans Regular';
    src: url(/assets/fonts/OpenSans-Regular.ttf) ;
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family:'Open Sans SemiBold';
    src: url(/assets/fonts/OpenSans-SemiBold.ttf);
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family:'Open Sans ExtraBold';
    src: url(/assets/fonts/OpenSans-ExtraBold.ttf);
    font-weight: 700;
  font-style: normal;
  font-display: swap;
}
:root {
    --text-color: #111111;
    --ui-color: #3E89F4;
    --bg-color: #ffffff;
    --section-color: #F7F7F7;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 1rem;
}

body {
  font-family: 'Open Sans Regular',;
}

a {
  text-decoration: none;
}

figure {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}
h2 {
  margin: 0;
  font-size: 1.875rem;
  line-height: 120%;
  color: var(--text-color);
}
h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.list-reset {
  display: block;
  list-style: none;
  padding: 0;
  margin: 0;
  
}
.btn {
  display: inline-block;
    box-shadow: 0px 4px 20px rgba(62, 137, 244, 0.3);
    border-radius: 4px;
    
        border: none;
        background-color: var(--ui-color);

        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 150%;

        
    /* identical to box height, or 21px */
    color: #F7F7F7;
    
    text-align: center;
    
    transition: background-color 0.3s ease-in-out;
    }
    
    
    .btn:active {
      box-shadow: none;
    }
    
    .btn_transparent {
      background-color: transparent;
    }
    
    .btn_transparent:hover {
      background-color: var(--ui-color);
    }
    
    .btn_lg {
      padding: 13px 21px;
    }

.container {
align-items: center;
max-width: 1440px;
width: 100%;


margin: 0 auto;
      
}
.header-row {

    display: flex;
    align-items: center;
    padding: 10px 0;
}
.header__logo {
  margin-left: 120px;
  margin-right: 116px;
 

  left: 8.33%;
  right: 71.67%;
  top: 30.3%;
  bottom: 28.79%;
    
font-family: 'Open Sans';
font-style: bold;
font-weight: 700;
font-size: 20px;
line-height: 27px;

color: #2C3136;

}
.header__center {
justify-content: space-between;
  

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 22px;

/* identical to box height */


color: #2C3136;

}
.text {
    margin: 5px;
}
.header__contacts{
    margin-left: 81px;
    /* 8 800 000 00 00 */
    font-family: 'Open Sans';
    font-style: bold;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    /* identical to box height */
    color: #2C3136;
}

.search {
    margin-left: 78px;
    border: none;
    background-color: #ffffff;
    box-shadow:none;
    cursor: pointer;
  
}
.input {
  margin-left: 20px;
  margin-right: 120px;
  cursor: pointer;
  
  width: 70px;
  height: 33px;
}


.first-screen {
width: 1440px;
height: 600px;
left: 0px;
top: 66px;
  background-image: url(/assets/img/helena-lopes-e3OUQGT9bWU-unsplash\ 1.jpg);
} 

.first-screen-title {
margin: 0 424px;
padding: 60px;

/* identical to box height */
font-family: 'Open Sans';
font-style: normal;
font-weight: 600;

color: #2C3136;
}
.card {
  
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.tittle-card {
  display: flex;
  justify-content: center;
  margin: 70px 182px;

  width: 135.27px;
height: 41px;
align-items: center;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 41px;
/* identical to box height */


color: #000000;


}
.subtittle-card {
  display: flex;
  justify-content: center;
  margin: 70px 43.09px 60px ;

  font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 150%;
/* or 30px */

text-align: center;

color: #54585D;
}
.registration {

  display: flex;
  justify-content: center;
  margin: 30px 151px;

  width: 196.39px;
height: 57px;
left: 362.3px;
top: 600px;

align-items: center;

cursor: pointer;

}
.collumn-first {
  
width: 499px;
height: 448px;
  

background: rgba(255, 255, 255, 0.9);
border-radius: 10px 10px 0px 0px;

margin-left:211px;
}
.collumn-second {
  
width: 498px;
height: 448px;


background: rgba(255, 255, 255, 0.9);
border-radius: 10px 10px 0px 0px;

margin-right: 212px ;
}






.about-us {
  padding: 0px 0 100px 0px;
}
.us {
 margin: 101px 1220px 30px 120px;

 font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 36px;
line-height: 49px;
/* identical to box height */


color: #2C3136;

}






.second-screen__card {
  margin: 0 120px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 32px;
}


.second-card {
min-height: 256px;
padding: 40px 40px 22px 40px;
border-radius: 10px;
width: 584px;
height: 278px;

background: #FFFFFF;
border: 1px solid #F0F0F0;
box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.05);
border-radius: 5px;
}
.card__group {
  
  display: flex;
  justify-content:space-between ;
  align-items: flex-start;
  
}
.second-card__titlef {
  width: 203px;
height: 64px;
font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 21px;
line-height: 150%;
/* or 32px */

color: #000000;

margin: 0;

}
.second-card__titlese {
width: 341px;
height: 64px;


font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 21px;
line-height: 150%;
/* or 32px */

color: #000000;

margin: 0;
}
.card-img {
}
.second-card__subtitle{
  width: 380px;
  height: auto;
  left: 792px;
  top: 1322px;
  
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  /* or 24px */
  
  
  color: #54585D;
}
.how-this-work {
padding-top: 52px;
padding-bottom:48px ;

background: #F7F7F7;

}
.how-this-work__title {
margin:0 120px;
width: 308px;
height: 49px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 36px;
line-height: 49px;
/* identical to box height */


color: #2C3136;
}
.agreements-group {
  display: grid;
  grid-template-columns: repeat(2, 0fr);
  gap: 20px;

}
.how-this-work__zaemshik {
  width: 100px;
height: 32px;
margin-left: 120px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 21px;
line-height: 150%;
/* identical to box height, or 32px */


color: #3E89F4;
}

.how-this-work__creditor {
  width: 104px;
height: 32px;


font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 21px;
line-height: 150%;
/* identical to box height, or 32px */


color: #B1B1B1;

}
.basic {
  display: flex;
  flex-direction: row;
  
  width: 1200px;
  margin:0 120px;
}
.instrumental-icons {
margin-left: 38px;
}


.basic__icon-text {
  display: flex;
  flex-direction: column;
  margin-left: 21.39px;

}
.basic__first-icon-text {
  width: 200px;
}
.basic__h3 {

  margin: 0;
  margin-bottom: 10px;

  font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 150%;
/* identical to box height, or 27px */


color: #2C3136;
}

.basic__subtitle {
  width: 218px;
  font-weight: 300;
  font-size: 1.125rem;
  margin: 0;

  font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 150%;
/* or 22px */


color: #54585D;
}
.news {
  padding: 100px 0;
  margin: 0 120px;
}
.news__title {

width: 308px;
height: 49px;
margin-bottom: 24px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 36px;
line-height: 49px;
/* identical to box height */


color: #2C3136;
}
.news__row {
  display: flex;
    flex-direction: row;
    width: 1200px;
    justify-content: space-between;
  
}
.news__subtitle{
  width: 106px;
height: 19px;
left: 120px;
top: 2605px;
margin: 0;
margin-bottom: 11px;


font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 19px;
/* identical to box height */


color: #54585D;


}
.news__h4 {
  width: 351px;
height: 69px;
left: 545px;
top: 2635px;
margin: 0;
margin-bottom: 40px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 15px;
line-height: 150%;
/* or 22px */


color: #2C3136;
}
.button-news {
  padding: 0;
  border: none;
  background-color: #FFFFFF;
  color: #034FBC;
  cursor: pointer;
}
.arrow {
  width: 9px;
  height: 9px;
  border-top: 2px solid #034FBC ;
  border-right: 2px solid #034FBC;
  
  transform: rotate(45deg);
}


.footer-row {
  

  width: 1440px;
  height: 220px;
  background: #3E89F4;

}
.footer-row__first {

  display: flex;
  align-items: center;
  
  margin-left:120px;
  margin-right: 120px;
  padding-top: 40px;
  

  
}
.footer__logo {
  margin-right: 85px;
  font-family: 'Open Sans';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 25px;
/* identical to box height */


color: #FFFFFF;
}
.footer__center {

  

  font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 22px;
/* identical to box height */


color: #FFFFFF;
  
}
.ad {
  margin-right: 23px;
}
.safety {
  margin-right: 30px;
}
.footer-row__2 {
  display: flex;
  align-items: center;
  
  margin-left:120px;
  margin-right: 120px;
  padding-top: 40px;
  padding-bottom: 39px;
}
.footer-company {
margin-right: 289px;

  font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 16px;

color: #FFFFFF;

}
.political {
  font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 16px;

color: #FFFFFF;
}
/*Работа с Js*/
.dialog {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;

  opacity: 0;
  pointer-events: none;
}
.dialog_active {
  opacity: 1;
  pointer-events: auto;
}

.dialog__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(17, 17, 17, 0.5);
}

.dialog__content {
  position: relative;
  width: 300px;
  background-color: var(--bg-color);
  border-radius: 10px;
  padding: 10px 20px;
}

.dialog__title {
  margin: 10px;
  text-align: center;
  color: #111111;
}

.dialog__close {
  position: absolute;
  bottom: 100%;
  left: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 22px;
  height: 22px;
  padding: 0;
  border: 0;
  outline: 0;
  background-color: transparent;
  cursor: pointer;
}

.dialog__close span {
  position: relative;
  display: block;
  width: 30px;
  height: 1px;
}

.dialog__close span::before,
.dialog__close span::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--bg-color);
  content: '';
  transform-origin: center center;
}

.dialog__close span::before {
  transform: rotate(45deg);
}

.dialog__close span::after {
  transform: rotate(-45deg);
}

.dialog__close:hover span::before,
.dialog__close:hover span::after {
  background-color: #111111;
}


/* Диалоговое окно*/
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form__group {
  width: 100%;
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
  border: 0;
}
.form__group:last-child {
  margin-bottom: 0;
}
.form__legend {
  display: none;
}
.form__input {
  width: 100%;
  padding: 8px 10px;
  font-size: 0.875rem;
  line-height: 120%;
  color: var(--text-color);
  border: 1px solid #888888;
  border-radius: 10px;
}
.form__input::placeholder {
  color:  #888888;
}
.form__radio label,
.form__checkbox label {
  position: relative;
  display: block;
  margin: 15px 0;
  padding-left: 25px;
  line-height: 100%;
}
.form__radio label::before,
.form__checkbox label::before {
  position: absolute;
  top: 50%;
  left: 0;
  width: 20px;
  height: 20px;
  border: 1px solid #888888;
  transform: translateY(-50%);
  content: '';
}
.form__radio label::before {
  border-radius: 50%;
}
.form__radio label::after {
  position: absolute;
  top: 50%;
  left: 5px;
  width: 10px;
  height: 10px;
  transform: translateY(-50%);
  border-radius: 50%;
  content: '';
}

.form__checkbox label::after {
  position: absolute;
  top: 50%;
  left: 4px;
  width: 12px;
  height: 9px;
  transform: translateY(-50%);
  content: '';
}

.form__checkbox label::before {
  border-radius: 5px;
}

.form__radio input,
.form__checkbox input {
  display: none;
}
.form__radio>input:checked+label::before,
.form__checkbox>input:checked+label::before {
  background-color: var(--ui-color);
  border-color: var(--ui-color);
}

.form__radio>input:checked+label::after {
  background-color: var(--bg-color);
}

.form__checkbox>input:checked+label::after {
  background-image: url('../assets/img/check.svg');
}
.form__caption {
  font-size: 0.75rem;
  line-height: 120%;
  color:#888888 ;
}














