@font-face {
  font-family: 'Open Sans Regular';
  src: url('/assets/fonts/OpenSans-Regular.woff') format('woff'),
     url('/assets/fonts/OpenSans-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family:'Open Sans SemiBold';
  src: url('/assets/fonts/OpenSans-SemiBold.woff') format('woff'),
    url('/assets/fonts/OpenSans-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family:'Open Sans ExtraBold';
  src: url('/assets/fonts/OpenSans-ExtraBold.woff') format('woff'),
     url('/assets/fonts/OpenSans-ExtraBold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
:root {
    --text-color: #2C3136;
    --ui-color: #3E89F4;
    --bg-color: #ffffff;
    --section-color: #F7F7F7;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  font-size: 1rem;
}
body {
  font-family: 'Open Sans Regular', 'Open Sans ExtraBold', 'Open Sans SemiBold';
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
}
li {
  color: #3E89F4;
}
section {
  display: block;
}
footer {
  height: 220px;
  background: #3E89F4;
  background-repeat: no-repeat;
  background-size: cover;
}
.list-reset {
  display: block;
  list-style: none;
}
.h2 {
  font-family: 'Open Sans';
  font-size: 1.875rem;
  line-height: 120%;
  font-weight: 600;
  color: var(--text-color);
}
.h3 {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-family: 'Open Sans';
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 150%;
  color: var(--text-color);
}


.btn {
  display: inline-block;
  /* font*/
  font-weight: 400;
  color: #F7F7F7;
  font-size: 0.875rem;
  line-height: 150%;

  background-color: var(--ui-color);
  box-shadow: 0px 4px 20px rgba(62, 137, 244, 0.3);
  border-radius: 4px;
  border: none;
  transition: background-color 0.3s ease-in-out;
}
.btn:active {
  box-shadow: none;
}  
.btn_transparent {
  background-color: transparent;
}  
.btn_transparent:hover {
  background-color: var(--ui-color);
}

.container {
max-width: 1440px;
width: 100%;
margin: 0 auto;   
}
.header__row {
  display: flex;
  align-items: center;
  padding: 10px 0;
}
.header__logo {
  font-family: 'Open Sans ExtraBold';
  font-weight: 700;
  font-size: 1.3rem;
  color: var(--text-color);
  margin-left: 120px;
  margin-right: 116px;
}
.header__center {
  justify-content: space-between;
  font-family: 'Open Sans Regular';
  font-weight: 400;
  font-size: 1rem;
  color: var(--text-color);
}
.advert {
  margin: 5px;
}
.header__contacts{
  margin-left: 81px;
  /* 8 800 000 00 00 */
  font-family: 'Open Sans ExtraBold';
  font-style: bold;
  font-weight: 700;
  font-size: 1rem;
  color: #2C3136;
}
.search {
  margin-left: 78px;
  border: none;
  background-color:var(--bg-color);
  box-shadow:none;
  cursor: pointer;
}
.input {
  width: 70px;
  height: 33px;
  margin-left: 20px;
  cursor: pointer;
}
.first-screen {
height: 600px;
background-image: url(/assets/img/main/helena-lopes-e3OUQGT9bWU-unsplash\ 1.jpg);
background-repeat: no-repeat;
background-size: cover;
} 
.first-screen__title {
position: absolute;
margin: 0 424px;
padding: 60px;
font-weight: 600;
font-size: 2.375rem;
line-height: 52px;
color: #2C3136;
}
.card {
  display: grid;
  padding-top: 160px;
  gap: 20px;
  grid-template-columns: repeat(2, 1fr);
}
.card__title {
  display: flex;
  justify-content: center;
  width: 135.27px;
  height: 41px;
  margin: 70px 182px;
  align-items: center;
  font-family: 'Open Sans Regular';
  font-weight: 400;
  font-size: 1.875rem;
  color: #000000;
}
.card__subtitle {
  display: flex;
  justify-content: center;
  margin: 70px 43.09px 60px ;

  font-weight: 400;
  font-size: 1.25rem;
  line-height: 150%;
  text-align: center;
  color: #54585D;;
}
.registration {
  left: 362.3px;
  top: 600px;
  display: flex;
  justify-content: center;
  width: 196.39px;
  height: 57px;
  margin: 45px 151px;
  align-items: center;
  cursor: pointer;
}
.card__first-collumn {
  width: 499px;
  height: 448px;
  margin-left:211px;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 10px 10px 0px 0px;
}
.card__second-collumn {
  width: 498px;
  height: 448px;
  margin-right: 212px ;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 10px 10px 0px 0px;
}
.about-us {
  padding: 0px 0 100px 0px;
}
.us {
  margin: 101px 1220px 30px 120px;
  font-weight: 600;
  font-size: 2.25rem;
}
.second-screen-card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 0 120px;
  gap: 32px;
}
.second-card {
min-height: 256px;
width: 584px;
height: 278px;
padding: 40px 40px 22px 40px;
border-radius: 10px;
background: var(--bg-color);
border: 1px solid #F0F0F0;
box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.05);
border-radius: 5px;
}
.second-card__group { 
  display: flex;
  justify-content:space-between ;
  align-items: flex-start;
}
.second-card__title {
width: 203px;
height: 64px;
margin: 0;
font-family: 'Open Sans Regular';
font-weight: 600;
font-size: 1.313rem;
line-height: 150%;
color: #000000;
}
.second-card__name {
width: 341px;
height: 64px;
font-family: 'Open Sans Regular';
font-weight: 600;
font-size: 1.313rem;
line-height: 150%;
color: #000000;
margin: 0;
}
.second-card__subtitle{
  left: 792px;
  top: 1322px;
  width: 380px;
  height: auto;
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #54585D;
}
.how-it-works {
padding-top: 52px;
padding-bottom:48px ;
background: #F7F7F7;
}
.how-it-works__title {
width: 308px;
height: 49px;
margin:0 120px;
font-weight: 600;
font-size: 2.25rem;
color: var(--text-color);
}
.agreements-group {
  display: grid;
  grid-template-columns: repeat(2, 0fr);
  gap: 20px;
}
.how-it-works__borrower {
width: 100px;
height: 32px;
margin-left: 120px;
font-weight: 600;
font-size: 1.313rem;
color: #3E89F4;
}
.how-it-works__creditor {
width: 104px;
height: 32px;
font-weight: 600;
font-size: 1.313rem;
color: #B1B1B1;
}
.basic {
  display: flex;
  flex-direction: row;
  margin:0 120px;
}
.instrumental-icons {
margin-left: 38px;
}
.basic__icon-text {
 
  display: flex;
  flex-direction: column;
  margin-left: 21.39px;
}
.basic__first-icon-text {
  width: 200px;
}
.basic__title {
margin: 0;
margin-bottom: 10px;
}
.basic__subtitle {
  width: 218px;
  margin: 0;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 150%;
  color: #54585D;
}
.news {
  padding: 100px 0;
  margin: 0 120px;
}
.news__text {
width: 308px;
height: 49px;
margin-bottom: 24px;
font-weight: 600;
font-size: 2.25rem;
color: #2C3136;
}
.news-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.news__subtitle{
left: 120px;
top: 2605px;
width: 106px;
height: 19px;
margin: 0;
margin-bottom: 11px;
font-weight: 400;
font-size: 0.875rem;
color: #54585D;
}
.news__title {
left: 545px;
top: 2635px;
width: 351px;
height: 69px;
margin: 0;
margin-bottom: 40px;
font-weight: 600;
font-size: 0.938rem;
line-height: 150%;
color: var(--text-color);
}
.news__button {
  display: flex;
  padding: 0;
  font-size: 0.938rem;
  border: none;
  background-color: #FFFFFF;
  color: #034FBC;
  cursor: pointer;
}
.arrow {
  width: 9px;
  height: 9px;
  margin-top: 5px;
  margin-left: 6.75px;
  border-top: 1.5px solid #034FBC ;
  border-right: 1.5px solid #034FBC;
  transform: rotate(45deg);
}
.faq{
  display: flex;
  flex-direction: column;
  margin-left: 120px;
  margin-bottom: 100px;
}
.faq__heading {
display: flex;
flex-direction: column;
align-items: flex-start;
font-weight: 600;
font-size: 2.25rem;
line-height: 49px;
color: #2C3136;
}
.faq__content {
  display: flex;
  margin-top: 50px;
}
.question-list__content input {
  display: none;
}
.question-list {
  font-size: 1.125rem;
  margin-right: 34px;
}
.question-list__content label {
  cursor: pointer;
}
.question-container {
  max-width: 100%;
  width: 1200px;
  height: 64px;
  margin-bottom: 17px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.11);
  transition: height 0.7s, background-color 0.7s, color 0.2s;
}
.question-text {
  display: flex;
  align-items: flex-start;
  padding-left: 34px;
  padding-right: 20px;
}

.hq {
  display: none;
  margin-left: 34px;
  margin-bottom: 21px;
  margin-right: 99px;
  font-size: 1.0625rem;
  font-weight: 400;
  color: #282B38;
}
.question-text p {
  margin-left: 28px;
  font-weight: 400;
font-size: 1.063rem;
line-height: 23px;
  color: #034FBC;
}
.question-text svg {
  margin-top: 22px;
  fill: #ffffff;
  transition: all 0.7s;
}
#cbx1:checked ~
.qu-co1 {
  height: 170px;
  font-weight: 400;
}
#cbx1:checked ~
.qu-co1 svg {
  transform: rotate(-180deg);
  fill: var(--ui-color);
}
#cbx1:checked ~
.qu-co1 div:nth-child(2) {  
  display: block;
}
#cbx2:checked ~
.qu-co2 {
  height: 170px;
  color: #282B38;
  font-weight: 400;
  background-color: #fff;
}
#cbx2:checked ~
.qu-co2 svg {
  transform: rotate(-180deg);
  fill: var(--ui-color);
}
#cbx2:checked ~
.qu-co2 div:nth-child(2) {  
  display: block;
}
#cbx3:checked ~
.qu-co3 {
  height: 170px;
  font-weight: 400;
  background-color: #fff;
}
#cbx3:checked ~
.qu-co3 svg {
  transform: rotate(-180deg);
  fill: var(--ui-color);
}
#cbx3:checked ~
.qu-co3 div:nth-child(2) {  
  display: block;
}
#cbx4:checked ~
.qu-co4 {
  height: 170px;
  color: #282B38;
  font-weight: 400;
  background-color: #fff;
}
#cbx4:checked ~
.qu-co4 svg {
  transform: rotate(-180deg);
  fill: var(--ui-color);
}
#cbx4:checked ~
.qu-co4 div:nth-child(2) {  
  display: block;
}
#cbx5:checked ~
.qu-co5 {
  height: 500px;
  color: #282B38;
  font-weight: 400;
  background-color: #fff;
}
#cbx5:checked ~
.qu-co5 svg {
  transform: rotate(-180deg);
  fill: var(--ui-color);
}
#cbx5:checked ~
.qu-co5 div:nth-child(2) {  
  display: block;
}
#cbx6:checked ~
.qu-co6 {
  height: 170px;
  color: #282B38;
  font-weight: 400;
  background-color: #fff;
}
#cbx6:checked ~
.qu-co6 svg {
  transform: rotate(-180deg);
  fill: var(--ui-color);
}
#cbx6:checked ~
.qu-co6 div:nth-child(2) {  
  display: block;
}
.footer__first-row {
  display: flex;
  align-items: center;
  margin-left:120px;
  margin-right: 120px;
  padding-top: 40px;
}
.footer__logo {
margin-right: 85px;
font-family: 'Open Sans ExtraBold';
font-weight: 700;
font-size: 1.125rem;
line-height: 25px;
color: #FFFFFF;
}
.footer__center {
font-weight: 400;
line-height: 22px;
color: #FFFFFF;
}
.ad {
  margin-right: 23px;
}
.safety {
  margin-right: 30px;
}
.footer__second-row {
  display: flex;
  align-items: center;
  
  margin-left:120px;
  margin-right: 120px;
  padding-top: 40px;
  padding-bottom: 39px;
}
.footer-company {
margin-right: 289px;
font-weight: 400;
font-size: 0.75rem;
line-height: 16px;
color: #FFFFFF;
}
.political {
font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 0.75rem;
line-height: 16px;
color: #FFFFFF;
}

/*Работа с Js*/
.dialog {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  pointer-events: none;
}
.dialog_active {
  opacity: 1;
  pointer-events: auto;
}
.dialog__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25);
}
.dialog__content {
  position: relative;
  width: 386px;
  background-color: var(--bg-color);
  border-radius: 10px;
  padding: 40px 43px;
  border: none;
}
.dialog__title {
  font-family: 'Open Sans Regular';
  font-weight: 600;
  font-size: 1.75rem;
  color: #000000;
  margin-bottom:  25px;
  text-align: center;
  
}
.dialog__close {
  position: absolute;
  bottom: 90%;
  left: 91%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 22px;
  height: 22px;
  padding: 0;
  border: 0;
  outline: 0;
  background-color: transparent;
  cursor: pointer;
}
.dialog__close span {
  position: relative;
  display: block;
  width: 12.27px;
  height: 1px;
}
.dialog__close span::before,
.dialog__close span::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #034FBC;
  content: '';
  transform-origin: center center;
}
.dialog__close span::before {
  transform: rotate(45deg);
}
.dialog__close span::after {
  transform: rotate(-45deg);
}
.dialog__close:hover span::before,
.dialog__close:hover span::after {
  background-color: #111111;
}
/* Диалоговое окно*/
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form__group {
  width: 100%;
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
  border: 0;
}
.form__group:last-child {
  margin-bottom: 0;
}
.form__legend {
  display: none;
}
.form__input {
  width: 300px;
  height: 55px;
  padding: 16px 16px 15px;
  font-size: 0.875rem;
  line-height: 120%;
  color: #54585D;
  border: none;
  background-color: #f5f5f5;
  border-radius: 4px;
font-family: 'Open Sans SemiBold';
font-weight: 400;
font-size: 1rem;


}
.form__input::placeholder {
  color:  #888888;
}
.form__checkbox label {
  position: relative;
  display: block;
  margin: 10px 0;
  padding-left: 25px;
  line-height: 100%;
  margin-bottom: 6px;
  font-family: 'Open Sans SemiBold';
  font-weight: 400;
  font-size: 0.625rem;
  line-height: 130%;
  color: #9B9B9B;
}
.form__checkbox label::before {
  position: absolute;
  top: 50%;
  left: 0;
  width: 16px;
  height: 16px;
  border: 2px solid #888888;
  transform: translateY(-50%);
  content: '';
}
.form__checkbox label::after {
  position: absolute;
  top: 50%;
  left: 2px;
  width: 12px;
  height: 9px;
  transform: translateY(-50%);
  content: '';
}
.form__checkbox label::before {
  border-radius: 2px;
}
.form__checkbox input {
  display: none;
}
.form__radio>input:checked+label::before,
.form__checkbox>input:checked+label::before {
  background-color: #9B9B9B;
  border-color: #9B9B9B;
}
.form__checkbox>input:checked+label::after {
  background-image: url('../assets/img/check.svg');
}
.form__submit {
  width: 300px;
height: 57px;
left: 570px;
top: 446px;
cursor: pointer;
font-family: 'Open Sans SemiBold';
font-weight: 400;
font-size: 0.875rem;
background: #3E89F4;
border-radius: 4px;
} 
.password {
  font-family: 'Open Sans SemiBold';
font-weight: 400;
font-size: 0.875rem;
  border: none;
  background-color: #fff;
  color: #000000;
  box-shadow: none;
  height: 24px;
  margin-bottom: 11px;
  cursor: pointer;
}
.regist {
  font-family: 'Open Sans SemiBold';
font-weight: 400;
font-size: 0.875rem;
  border: none;
  background-color: #fff;
  color: #034FBC;
  height: 24px;
  cursor: pointer;
  box-shadow: none;
}
